{{ date().timestamp }}

{{ dump(searchHits) }}

{% if searchHits is defined and searchHits is not empty %}
    {% set counter = 0 %}

    {% for searchHit in searchHits %}
        <div>
            {{ ez_render_field(searchHit.valueObject, "image", {"parameters": {"height": "140px"} }) }}
            <div>
                <p>{{ ez_field_value(searchHit.valueObject, "title") }}</p>
                <p>{{ ez_field_value(searchHit.valueObject, "description") }}</p>
                <p>£{{ ez_field_value(searchHit.valueObject, "price") }}</p>
            </div>
        </div>

        {% set counter = counter + 1 %}
    {% endfor %}
{% endif %}